* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

#container{
    height: 100vh;
    min-width: 65%;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#chessboard{
    height: 90%;
}
#left-table {
    height: 92%;
}
#bottom-table {
    height: 10%;
}

#chessboard{
    padding: 0px;
    margin-left: 20px;
    border: 2px solid #181818;
    text-align: center;
    width: 65%;
}

#chessboard tr td {
}

#bottom-table {
    padding: 0px;
    margin-left: 20px;
    text-align: center;
    font-size: 100%;
    width: 65%;
    border-collapse: collapse;
}

#bottom-table tr td {
    text-align: center;
}
#chessboard tr:nth-child(2n) td:nth-child(2n+1) {
    background: #9f9f9f;
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) {
    background: #9f9f9f;
}
#left-table {
    text-align: center;
    float: left;
}

.highlight {
    border: 2px solid red;
    border-style: inset;
}

#information {
    margin-top: 0px;
    height: 100vh;
}
#move-table {
    border: 2px solid #181818;
    margin-top: 25px;
    width: 25%;
}
#move-table tr {
    border-bottom: 1px solid #181818;
}
#move-table td {
    border-right: 1px solid #181818;
    border-left: 1px solid #181818;
}
#move-table tr td {
    padding: 5px;
}