* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

#container{
    height: 100vh;
    width: 50%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#chessboard, #left-table {
    height: 90%;
}
#bottom-table {
    height: 10%;
}

#chessboard, #bottom-table{
    padding: 0px;
    margin: 0 auto;
    border: 2px solid #181818;
    text-align: center;
    width: 80%;
}

#chessboard tr td {
}
#bottom-table tr td {
    text-align: center;
}
#chessboard tr:nth-child(2n) td:nth-child(2n+1) {
    background: #9f9f9f;
}

#chessboard tr:nth-child(2n+1) td:nth-child(2n) {
    background: #9f9f9f;
}
#left-table {
    float: left;
}